[submodule "externals/warlib"]
	path = externals/warlib
	url = ssh://jgaa@git.code.sf.net/p/warlib/warlib
[submodule "externals/wfde"]
	path = externals/wfde
	url = ssh://jgaa@git.code.sf.net/p/wfde/wfde
[submodule "externals/sqlpp11"]
	path = externals/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "externals/sqlpp11-connector-sqlite3"]
	path = externals/sqlpp11-connector-sqlite3
	url = https://github.com/rbock/sqlpp11-connector-sqlite3.git
[submodule "externals/date"]
	path = externals/date
	url = https://github.com/HowardHinnant/date.git
